name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency: release
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.0.0

      - name: Install Python Semantic Release
        run: pip install python-semantic-release

      - name: Semantic Release
        id: release
        env:
          GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          semantic-release version
          semantic-release publish

      - name: Publish to PyPI
        # Check if a new tag was created
        if: success()
        run: |
           if git describe --exact-match --tags HEAD >/dev/null 2>&1; then
             echo "new_release=true" >> $GITHUB_ENV
           fi

      - name: Build and Publish to PyPI
        if: env.new_release == 'true'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip_existing: true
